* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 19px;
  background: #111111; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #111111 0%, #3B1C77 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #111111 0%,#3B1C77 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #111111 0%,#3B1C77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#3B1C77',GradientType=1 );
  padding: 0 0 300px 0;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.logo span {
  font-weight: 100;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: -2px;
  opacity: 0.3;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  clear: both;
  padding: 30px 30px 80px;
}

header a {
  color: white;
  text-decoration: none;
}

form, table, fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

h3 {
  color: white;
  font-weight: 100;
  padding: 40px 30px;
  margin: 0;
  font-size: 25px;
}

b {
  font-weight: bold;
}

.gradient {
  background: #763cfc; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #763cfc 0%, #544fef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #763cfc 0%,#544fef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #763cfc 0%,#544fef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#763cfc', endColorstr='#544fef',GradientType=1 );
  color: white;
}
