label {
  display: block;
  cursor: pointer;
  padding: 30px;
  border-bottom: 1px solid white;
  transition: opacity .3s ease;
  opacity: 1;
}

label:hover {
  opacity: 0.9;
}

label:last-child {
  border: 0;
}

label span {
  position: relative;
}

label span:before {
  content: "";
  background-image: url('check.svg');
  background-repeat: no-repeat;
  background-position: left center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  opacity: 0.3;
}

input {
  margin-right: 10px;
}

input[type="checkbox"], input[type="radio"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  opacity: 1;
}

#response {
  background-color: white;
  color: black;
  position: fixed;
  padding: 30px;
  text-align: center;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  border-top: 2px solid black;
  margin: 0;
}

.credits {
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 14px;
  margin-top: 60px;
}

a {
  color: white;
}

.credits a {
  display: inline-block;
  margin: 0 3px;
}
