table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
table th {
  text-align: left;
  padding: 30px;
  color: white;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
}
table td {
  padding: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid #999;
  color: black;
}
